body {
  background-color: #EAF6F6;
}

hr {
  border-style: none none dotted none;
  border-width: 0 0 10px 0;
  border-color: grey;
  height: 0;
  width: 10%;
}

h1, h3 {
  color: #66BFBF;
}
